h1{
    color:red;
    background-color:gray;
    text-align:center;		
  }
p {
    color:black;
    background-color:gray;
    text-align:justify;		
  }
body{
    background-color:blue green;
    
    	
    }