h1{
	COLOR:RED;
        BACKGROUND-COLOR:BLACK;
	TEXT-ALIGN:CENTER;
}
P{
	COLOR:YELLOW;
        BACKGROUND-COLOR:GRAPE;
	TEXT-ALIGN:JUSTIFY;
}
BODY{
	COLOR:PINK;
        BACKGROUND-COLOR:BLACK;
	TEXT-ALIGN:CENTER;
}

